@import url('https://fonts.googleapis.com/css2?family=Kristi&family=Rubik:wght@300;400;700&family=Trirong:wght@100;400;700&display=swap');

/*--------------------------------- Base formatting */
* {
    font-family: "Rubik", Arial, sans-serif;
}

h1, h2 {
    font-family: "Trirong", Arial, sans-serif;
    text-transform: uppercase;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    color: #779fa1;
}

p {
    font-size: 18px;
}

hr {
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #e0e0e0;
}

/*---------------------------------- Links */

a, a:hover, a:visited {
    text-decoration: none;
    color: #000;
}

/*--------------------------------- Header & Navbar */

.logo {
    width: 160px;
    text-align: right;
    font-size: 48px;
    line-height: 35px;
    padding: 10px;
    margin: 5px;
}

#logo a, sup { 
    font-family: "Kristi", serif;
}

.navbar-nav {
    width: 100%;
}

.nav-link:hover {
    background-color: #9b6a6c;
    color: #fff;
}

.nav-item {
    text-align: center;
    margin: 0 10px 0 10px;
}

.active {
    border-bottom: 2px solid #779fa1;
}

.btn--cta {
    font-weight: bold;
    text-align: center;
    background-color: #779fa1;
    color: #fff;
    border: 1px solid grey;
}

.alert-container {
    position: relative;
    padding-left: 0;
    padding-right: 0;
}

.site-wide-alert {
    border-radius: 0;
    margin-bottom: 0;
    padding: 5px;
    background-color: #9b6a6c;
    border-color: #803500;
    border: 2px 0 2px 0;
}

.site-wide-alert a{
    color: #fff;
}

/*---------------------------------  Callout */

.callout {
    background: url("../images/mainfaceimage.jpg") no-repeat top center;
    background-size: cover;
    width: 100%;
    height: 70vh;
}


/*---------------------------------  Features */

.feature {
    margin-top: 20px;
}

.feature-image {
    border: 1px solid #779fa1;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.feature-heading {
    padding-left: 5px;
}

.feature-content p {
    padding-top: 15px;
    padding-left: 40px;
}

/*--------------------------------- By Samantha's Customers */

.feedback {
    margin-top: 30px;
}

.quote {
    margin-top: 15px;
}

.quote p {
    padding: 0 15px 0 15px;
    font-size: 16px;
}

/*--------------------------------- Footer */
.footer {
    border-top: 2px solid #803500;
    border-bottom: 2px solid #803500;
    background-color: #efd5c3;
    margin-top: 30px;
}

.footer-icon {
    font-size: 28px;
    color: #803500;
}

/*---------------------------------  Separators */
.section-break {
    width: 200px;
    height: 3px;
    border: 0;
    background-color: #803500;
}

.flow-separator {
    width: 75px;
    height: 1px;
    border: 0;
    background-color: #779fa1;
}


/*---------------------------------  Color Pallette 

#pal2-col1 {
    background-color: #803500;
}
#pal2-col2 {
    background-color: #9b6a6c;
}
#pal2-col3 {
    background-color: #779fa1;
}
#pal2-col4 {
    background-color: #efd5c3;
}

*/