@import url('https://fonts.googleapis.com/css2?family=Kristi&family=Rubik:wght@300;400;700&family=Trirong:wght@100;400;700&display=swap');

* {
    padding: 0;
    border: 0;
    margin: 0;
}

p {
    font-size: 14px;
    font-family: arial;
}

hr {
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #e0e0e0;
}

/*--------------------------------- Logo samples */

.logos {
    text-align: right;
    font-weight: 150%;
    font-size: 72px;
    line-height: 50px;
    margin-top: 50px;
}

#logo1 { 
    font-family: "Kristi", serif;
}

/*--------------------------------- Content font options */

p {
    font-size: 18px;
}

h1 {
    font-size: 36px;
    text-transform: uppercase;
}

.fonts {
    width: 80%;
    padding: 10px;
}

.fonts p {
  margin-top: 5px;
  padding-top: 10px;
}

#fonts3 h1 {
    font-family: "Trirong", serif;
}

#fonts3 p {
    font-family: "Rubik", serif;
}

/*---------------------------------  Color Pallette Options*/

.pallette-color {
    height: 50px;
    width: 50px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    margin: 2px;
    padding: 2px;
}

.pal-option {
    margin-top: 25px;
}

.swatch {
    padding: 0;
}

#pal2-col1 {
    background-color: #803500;
}
#pal2-col2 {
    background-color: #9b6a6c;
}
#pal2-col3 {
    background-color: #779fa1;
}
#pal2-col4 {
    background-color: #efd5c3;
}