@import url('https://fonts.googleapis.com/css2?family=Kristi&family=Rubik:wght@300;400;700&family=Trirong:wght@100;400;700&display=swap');

/*--------------------------------- Base formatting */
* {
    font-family: "Rubik", Arial, sans-serif;
}

h1, h2 {
    font-family: "Trirong", Arial, sans-serif;
    text-transform: uppercase;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    color: #803500;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
}

hr {
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #e0e0e0;
}

/*---------------------------------- Links */

a, a:hover, a:visited {
    text-decoration: none;
    color: #000;
}

p .link, td .link {
    color:#779fa1;
    font-weight: bold;
}

/*--------------------------------- Header & Navbar */

.logo {
    width: 160px;
    text-align: right;
    font-size: 48px;
    line-height: 35px;
    padding: 10px;
    margin: 5px;
}

#logo a, sup { 
    font-family: "Kristi", serif;
}

.navbar-nav {
    width: 100%;
}

.nav-item:hover {
    background-size: 100% 2px, auto;
}

.nav-item {
    text-align: center;
    margin: 0 10px 0 10px;
    background-image: linear-gradient(#779fa1,#779fa1), linear-gradient(#fff,#fff);
    background-size: 0 2px, auto;
    background-repeat: no-repeat;
    background-position: center bottom;
    transition: all .2s ease-out;
}

nav .active {
    border-bottom: 2px solid #779fa1;
}

.btn--cta {
    font-weight: bold;
    text-align: center;
    background-color: #779fa1;
    color: #fff;
    border: 1px solid grey;
}

.alert-container {
    position: relative;
    padding-left: 0;
    padding-right: 0;
}

.site-wide-alert {
    border-radius: 0;
    margin-bottom: 0;
    padding: 5px;
    background-color: #803500;
    border-color: #803500;
    border: 2px 0 2px 0;
}

.site-wide-alert a{
    color: #fff;
    font-weight: bold;
}

/*---------------------------------  Callout */

.callout {
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    width: 100%;
    height: 45vh;
}

.callout.main {
    background-image: url("../images/mainfaceimage.jpg");
    background-position-y: top;
    height: 70vh;
}

.callout.treatments {
    background-image: url("../images/eyebrowtreatment.jpg");
    background-position-y: bottom;
}

.callout.covid {
    background-image: url("../images/facemaskmakeup.jpg");
    background-position-y: center;
}

.callout.faq {
    background-image: url("../images/thinkingwoman.jpg");
    background-position-y: center;
}

.callout.about {
    background-image: url("../images/samanthabrooker.jpg");
    background-position-y: center;
}
/*---------------------------------  Features */

.feature {
    margin-top: 20px;
}

.card {
    margin: 20px 10px 20px 10px;
    padding: 0;
}
/*
.feature-image {
    border: 1px solid #779fa1;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}*/

.feature-img {
    margin-top: 10px;
    border-radius: 20px;
    width: 80%;
    height: 30%;
    object-fit: cover;
}

.card-body h2 {
    margin-top: 20px;
}

.card .btn {
    background-color: #779fa1;
    color: #fff;
}

.feature-heading {
    padding-left: 5px;
}
/*
.feature-content p {
    padding-top: 15px;
    padding-left: 40px;
}

#feature1 .feature-image{
    background: url("../images/eyebrowtreatment.jpg") no-repeat bottom center;
    background-size: cover;
}

#feature2 .feature-image{
    background: url("../images/legtreatment.jpg") no-repeat center center;
    background-size: cover;
}

#feature3 .feature-image{
    background: url("../images/facemaskmakeup.jpg") no-repeat center center;
    background-size: cover;
}*/

/*--------------------------------- By Samantha's Customers */

.carousel {
    margin-bottom: 30px;
}

.feedback {
    padding: 30px 0 30px 0;
    background-color: #efd5c3;
}

.feedback h2 {
    color: #803500;
    margin: 30px 0 30px 20px;
}

.quote {
    margin-top: 15px;
}

.quote p {
    padding: 0 15px 0 15px;
    font-size: 16px;
}

/*--------------------------------- Footer */
.footer {
    background-color: #779fa1;
}

.footer-icon {
    font-size: 28px;
    color: #fff;
}

/*---------------------------------  Treatments */

.treatments-list {
    background-color: #efd5c3
}

#treatments-list {
    padding: 30px 0 30px 0;
}

.table {
    width: 100%;
}

.table thead th, .table td {
    border-color: #803500;
}

th {
    background-color: #803500;
    color: #fff;
}

td {
    background-color: #fff;
}

.consultation {
    padding: 30px 0 30px 0;
}

/*---------------------------------  Covid-19 */

ol {
    padding-left: 20px;
}

ol li {
    text-align: left;
    margin-bottom: 10px;
}

#certificate {
    width: 100%;
}

/*---------------------------------  About me */
.location {
    width: 100%;
    height: 100%;
}

.item-where, .item-about {
    margin-bottom: 30px;
}

/*---------------------------------  Contact me */

.contact-me-link {
    color: #803500;
}

.send {
    background-color: #779fa1;
    color: #fff;
}

/*---------------------------------  FAQ */

.card-title {
    margin: 0;
    color:#fff;
}

.card-header {
    background-color: #779fa1;
    background-clip: padding-box;
    border-bottom: 3px solid #803500;
}

.card-header:hover {
    cursor: pointer;
}

.card-body h3 {
    font-size: 20px;
}

.card-body h3::first-letter {
    font-family: "Trirong", serif;
    font-weight: bold;
    font-size: 120%;
    color: #803500;
    letter-spacing: 5px;

}

.list-group-item p:first-of-type:first-letter{
    font-family: "Trirong", serif;
    font-weight: bold;
    font-size: 120%;
    color: #779fa1;
    letter-spacing: 5px;
}

.list-group-item {
    border: 0;
}

/*---------------------------------  Separators */
.section-break {
    width: 200px;
    height: 3px;
    border: 0;
    background-color: #803500;
}

.flow-separator {
    width: 75px;
    height: 1px;
    border: 0;
    background-color: #779fa1;
}


/*---------------------------------  Color Pallette 

#pal2-col1 {
    background-color: #803500;
}
#pal2-col2 {
    background-color: #9b6a6c;
}
#pal2-col3 {
    background-color: #779fa1;
}
#pal2-col4 {
    background-color: #efd5c3;
}

*/